@model Charcoal.Models.LogOnModel
@{
    ViewBag.Title = "Login";
}
<div class="hero-unit">
    <h1>
        Charcoal Login</h1>
    <p>
        Please login using your Charcoal Account</p>
        <small>If you do not have an account, @Html.ActionLink("register here", "Register", "Account", new { @class = "btn btn-mini btn-inverse" })</small>
    <p>
    </p>
</div>


@using (Html.BeginForm())
{
    <fieldset>
        <div id="logonForm" class="offset1">
            <div class="row">
                <div class="span4">
                    <label>
                        User Name:</label>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(model => model.UserName, new { placeholder = "your username" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <label>
                        Password:</label>
                </div>
                <div class="span4">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <label>
                        Remember Me?</label>
                </div>
                <div class="span4">
                    @Html.CheckBoxFor(model => model.RememberMe)
                </div>
            </div>
            <input type="submit" class="btn" value="Login" />
        </div>
    </fieldset>
}